.div {
    background-color: rgb(31, 31, 31);
    color:rgb(255, 255, 255);
}

html {
    background-color: rgb(31, 31, 31);
}

.entry {
    color: white;
    font-family: 'Roboto Mono', monospace;
}

th {

    background-color: rgb(255, 255, 255);
    font-family: 'Roboto Mono', monospace;
}